* {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    min-height: 100vh;
    min-width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

nav img {
    width: 11.2rem;
}

.nav-links {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

nav ul li::after {
    content: "";
    background-color: #f44336;
    width: 0%;
    height: 3px;
    display: block;
    padding-top: 0px;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #fff;
}

.text-box h1 {
    font-size: 3.8rem;
}

.hero-btn {
    color: #fff;
    border: 1px solid white;
    padding: 12px 26px;
    margin: 15px;
    display: inline-block;
    text-decoration: none;
    background: transparent;
    transition: 1s;
}

.hero-btn:hover {
    background-color: #f44336;
    border: 1px solid #f44336;
}

nav .fa {
    display: none;
}

@media(max-width:700px) {
    .text-box h1 {
        font-size: 1.5rem;
    }

    nav ul li {
        display: block;
    }

    .nav-links {
        background-color: #f44336;
        position: fixed;
        top: 0px;
        right: -200px;
        width: 200px;
        text-align: left;
        height: 100vh;
        z-index: 3;
        transition: 1s;
    }

    nav .fa {
        display: block;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        margin: 10px;
    }

    nav ul {
        margin: 30px;
    }

    nav ul {
        width: 80px;
    }

    nav ul li::after {
        content: "";
        background-color: #fff9f8;
        width: 0%;
        height: 3px;
        display: block;
        padding-top: 0px;
        margin: auto;
        transition: 0.5s;

    }

}

/* -------course section---- */

.course {
    width: 80%;
    margin: auto;
    padding-top: 6.2rem;
    text-align: center;
}

.course h1 {
    font-size: 2.2rem;
    font-weight: 600;
}

.course p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.row .course-col {
    padding: 20px 12px;
    background-color: #fff3f3;
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 5%;
    cursor: pointer;
    transition: 00.5s;
}

h3 {
    margin: 10px 0px;
    text-align: center;
}

.row .course-col:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
}

@media(max-width:700px) {
    .row {
        flex-direction: column;
    }
}


/* ------ campus section----- */

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.campus h1 {
    font-size: 2.2rem;
    font-weight: 600;
    padding-top: 2.5rem;
}

.campus p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;

}

.campus-col {
    flex-basis: 30%;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
}

.layer {
    background-color: rgba(250, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 0;
    cursor: pointer;
    transition: 0.7s;
}

.campus-col:hover .layer {
    top: 0;
}

.campus-col h3 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------facilities section----------- */
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.facilities-col {
    flex-basis: 30%;
    text-align: left;
    margin-bottom: 40px;
    cursor: pointer;
}

.facilities h1 {
    font-size: 2.2rem;
    font-weight: 600;
    padding-top: 2.5rem;
}

.facilities h3 {
    text-align: left;
    margin-top: 5px;
}

.facilities p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.facilities img {
    width: 100%;
    border-radius: 10px;

}

/* ------testimonial----------- */
.testimonioal {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.testimonial-col {
    flex-basis: 48%;
    text-align: left;
    background-color: #fff3f3;
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    box-sizing: border-box;
}

.testimonial-col img {
    height: 40px;
    border-radius: 25px;
    margin: 0px 30px 0px 5px;
}

.testimonioal h1 {
    font-size: 2.2rem;
    font-weight: 600;
    padding-top: 2.5rem;
    text-align: center;

}

.testimonioal h3 {
    text-align: left;
}

.testimonioal p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.testimonial-col .fa-solid {
    color: #f44336;
}

@media(max-width:700px) {
    .testimonial-col {
        margin-bottom: 25px;
    }
}

/* ------call to action section---- */
.cta {
    width: 80%;
    margin: 100px auto;
    padding: 100px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/banner2.jpg);
    padding: 20px;
    background-position: center;
    background-size: cover;

}

.cta .content {
    padding: 100px 0px;
}

.cta h1 {
    color: white;
    font-size: 2.1rem;
}

/* ------footer section-----  */
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer h1 {
    padding-bottom: 20px;
    font-weight: 400;
}

.footer p {
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 20px 0px 40px 0px;
}

.footer .icons .fa-brands {
    color: #f44336;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}

.parvat {
    color: #f44336;
}


/* --------About us Page-------  */
.sub-header {
    width: 100%;
    height: 50vh;
    text-align: center;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;

}

.sub-header h1 {
    color: white;
    margin-top: 40px;
    font-size: 40px;
}

.aboutus {
    width: 80%;
    margin: auto;
}

.aboutus .row {
    margin-bottom: 50px;
}

.aboutus-col {
    flex-basis: 47%;
    text-align: left;
    box-sizing: border-box;

}

.aboutus-col h1 {
    font-size: 40px;
}

.aboutus-col p {
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 12px 0px;
    box-sizing: border-box;
}

.aboutus-col img {
    width: 100%;
    border: 1px solid gray;
}

.red-btn {
    background: transparent;
    color: #f44336;
    border: 1px solid #f44336;
    text-align: left;
    margin-left: 0px;
    cursor: pointer;
}

.aboutus-col a:hover {
    color: white;
}

@media(max-width:700px) {
    .aboutus-col img {
        margin-top: 20px;
    }
}

/* ------blog page--------  */

.blog {
    width: 80%;
    margin: auto;
}

.blog-left {
    flex-basis: 65%;
    text-align: left;
}

.blog-left img {
    width: 100%;
}

.blog-left h2 {
    padding: 30px 0px;
}

.blog-left .comment-box {
    border: 1px solid #ccc;
    margin: 25px 0px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.blog-left .comment-box h3 {
    text-align: left;
    font-weight: 500;
}

.blog-left p {
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 12px 0px;
    box-sizing: border-box;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 10px 10px;
    margin: 15px 0px;
    box-sizing: border-box;
    outline: none;
    background-color: #f0f0f0;
    border: none;
}

.blog-right {
    flex-basis: 33%;
}

.blog-right h3 {
    background-color: #f44336;
    padding: 5px 0px;
    font-weight: 400;
    color: #fff;
}

.blog-right div {
    display: flex;
    justify-content: space-between;
}

.blog-right span {
    margin: 10px 0px;
}
.blog-right h3 {
    margin: 0;
}

.comment-box button:hover {
    color: white;
}

@media(max-width:700px){
    .sub-header h1{
        font-size: 30px;
    }
    .footer{
        margin-top: 40px;
    }

.blog-right{
    margin-top: 20px;
}
}

/* --------contact us page----- */
.location{
    width: 80%;
    margin: 100px auto;
}
.location iframe {
    width: 100%;
}

.contactus{
   width: 80%;
   margin: auto;
}

.contactus .con-col{
    flex-basis: 49%;
}
.contactus .con-col div{
    display: flex;
    align-items: center;
}
.contactus .con-col .fa-solid{
    color: #f44336;
    font-size: 20px;
    margin-right: 15px;
}
.contactus .con-col span{
    margin: 10px 0px;
    color: #777;
}

.contactus .con-col span p{
   font-size: 12px;
}

.contactus .con-col span h5{
    font-size: 16px;
    font-weight: 300;

}
.con-col form input, .con-col form textarea{
    width: 100%;
    outline: none;
    border: 1px solid #777;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 10px 0px;
}
.con-col form button{
    margin-left: 0px;
    color: red;
    border: 1px solid red;
}
.con-col form button:hover{
    color: white;
}

@media(max-width:700px){
    .contactus .left{
        padding-bottom: 60px;
    }
}